.main-body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
        margin: 2.2rem 0 0 0;
        font-size: 1.25rem;
        font-weight: 500;
    }

    > hr {
        width: 55%;
        height: 2px;
    }
}

.registrations-list-container {
    width: 70%;
    height: 500px;
    overflow-y: auto;
    border: 1px solid rgb(42, 42, 42);
}

.event-title {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #9e0671;
    margin-bottom: 10px;
    margin-top: 30px;
}

.divider-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divider {
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #9e0671;
    width: 1079px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.registration-record {
    transition: all 0.25s ease-in-out;
    background-color: whitesmoke;
    display: flex;
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #9e0671;
    font-size: 0.9rem;

    &:hover {
        transition: all 0.25s ease-in-out;
        box-shadow: 3px 5px #9e0671;
        cursor: pointer;
    }

    >div {
        &:nth-child(1) {
            flex: 0.88;
            display: flex;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            >div {
                flex: 0.31;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:nth-child(1) {
                    flex: 0.15;
                }

                &:nth-child(2) {
                    flex: 0.3;
                }

                &:nth-child(3) {
                    flex: 0.3;
                }

                &:nth-child(4) {
                    flex: 0.2;
                }

                &:nth-child(5) {
                    flex: 0.2;
                }
            }
        }
        &:nth-child(2) {
            flex: 0.12;
            align-items: center;
            justify-content: center;

            >form {
                display: flex;
            }

            .btn {
                background-color: #9e0671; 
                color: #ffffff; 
                border-color: #9e0671;
                width: 6em;
                border-width: 2px;
                transition:background-color 0.5s, border-style 0.5s,color 0.5s;
                margin-left: 10px;
            }
            
            .btn:hover {
                background-color: #32064e;
                color: #FFFFFF;
            }
            
            .btn:active {
                border-color: #9e0671;
            }
        }
    }
}

.name-styling{
    color: rgb(50, 6, 78);
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

