.reservations-title {
    font-family: "Merriweather Sans", sans-serif;
    margin: auto;
    width: 70vw;
    text-align: center;
    align-items: center;
    margin-top: 2%;
    font-weight: bolder;
    font-size: 3vw;
    color: #32064e;
    border-bottom: 10px solid #32064e;
}

.reservation-main-container {
    margin: auto;
    width: 80vw;
    border: 3px solid #32064e;
    margin-top: 2%;
    font-family: "Merriweather Sans", sans-serif;
}
.reservation-main-container-2{
    margin: auto;
    width: 80vw;
    border: 3px solid #32064e;
    margin-top: 2%;
    font-family: "Merriweather Sans", sans-serif;
    margin-bottom: 100px;
}
.reservation-title {
    background-color: #32064e;
    font-size: 1.5vw;
    font-weight: bold;
    text-align:center;
    border: 1px solid #32064e;
    color: #ffffff;
}

.reservation-list-container {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #32064e;
}


.reservation-entry {
    transition: all 0.25s ease-in-out;
    background-color: whitesmoke;
    display: flex;
    margin: 3%;
    padding: 1% 2%;
    border: 1px solid black;
    font-size: 1vw;

    &:hover {
        transition: all 0.25s ease-in-out;
        box-shadow: 3px 3px 3px 3px #32064e;
        cursor: pointer;
    }

    >div {
        &:nth-child(1) {
            flex: 0.88;
            display: flex;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            >div {
                flex: 0.31;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &:nth-child(1) {
                    flex: 0.1;
                }

                &:nth-child(2) {
                    flex: 0.28;
                }

                &:nth-child(3) {
                    flex: 0.38;
                }

                &:nth-child(4) {
                    flex: 0.24;
                }
            }

            
        }
        &:nth-child(2) {
            flex: 0.12;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.confirm-btn{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:white;
    background-color: #9e0671;
    border: 3px solid #9e0671;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.confirm-btn:hover{
    color: #9e0671;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: #9e0671;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.confirm-btn:focus{
    outline: none;
}