.content-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Helvetica, sans-serif;
    border: solid #32064e;
}

.edit-event-title {
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 800;;
    color: #32064e;
}


label {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
select,
textarea.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #32064e;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btn-edit {
    display: inline-block;
    background-color: #9e0671; 
    color: white;
    border-radius: 8px;
    border: solid #9e0671;
    padding: 10px;
    transition:background-color 0.5s, border-style 0.5s, color 0.5s;
}

.btn-delete {
    display: inline-block;
    background-color: #ffffff;
    color: #333;
    text-decoration: none;
    color: #9e0671;
    border-radius: 8px;
    border: solid ;
    padding: 10px;
    transition:background-color 0.5s, border-style 0.5s, color 0.5s;
}

.btn-edit:hover {
    background-color: #ffffff;
    color: #9e0671;
}

.btn-delete:hover {
    opacity: 0.8;
}