.main-body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > p {
        margin: 2.2rem 0 0 0;
        font-size: 1.25rem;
        font-weight: 500;
    }

    > hr {
        width: 55%;
        height: 2px;
    }
}

.borrow-record-entry {
    background-color: #32064e;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;

    > div {
        &:nth-child(1) {
            flex: 0.8;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            >span {
                flex: 0.2;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.button-container {
    margin: 10px;

    >button {
        background-color: #9e0671; 
        color: #ffffff; 
        border-color: #9e0671;
        width: 6em;
        border-width: 2px;
        transition:background-color 0.5s, border-style 0.5s,color 0.5s;
        margin-left: 10px;
    }

    .btn:hover {
        background-color: #32064e;
        color: #FFFFFF;
    }

    .btn:active {
        border-color: #9e0671;
    }
}