.main-container{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 20px;
    height: 1000px;
    margin-top: 50px;
}

.img-styling{
    width: 694px;
    height: 406px;
    border-color: #9e0671;
    border-width: 5px;
    border-style: solid;
}
.divider{
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #9e0671;
    width: 694px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subDivider{
    border-top-style: solid;
    border-top-width: 2px;
    border-color: #9e0671;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
}

.title-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #9e0671;
}

.left-column{
    display: flex;
    flex-direction: column;
}

.img-container{
    margin-bottom: 20px;
}

.review-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: transparent;
    border-color: #9e0671;
    padding: 10px;
    height: 90px;
}


.author-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #9e0671;
}

.testimony-review{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color:rgb(50, 6, 78);
    width: 670px;
    overflow-y:auto;
    text-align: justify;
}

.reviews-container{
    height: 310px;
    overflow-y:auto;
}

.game-name-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: #9e0671;
}

.game-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    grid-column: 4;
    color: #9e0671;
}
.rating-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    grid-column: 4;
    color: #9e0671;
}

.value-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgb(50, 6, 78);
}

.category-styling{
    background-color:transparent;
    color:#9e0671;
    text-align: center;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 2px;
    border-width: 3px;
    border-color: #9e0671;
    border-style: solid;
    border-radius: 10px;
}

.text-content{
    height: 500px;
    overflow-y:auto;
    text-align: justify;
    width:694px;
    color:rgb(50, 6, 78);
    text-align: justify;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:50px;
    margin-top: 10px;
}

.button{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:white;
    background-color: #9e0671;
    border: none;
    width: 160px;
    height: 38px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.button:hover{
    color: #9e0671;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #9e0671;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.back-button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back-button{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:#9e0671;
    border-width: 3px;
    border-color: #9e0671;
    background-color: transparent;
    width: 160px;
    height: 38px;
    border-radius: 5px;
    border-style: solid;
}

.no-reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 310px;

}

.no-review-desc{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgb(50, 6, 78);
    display: inline-block;
}

.no-review-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(50, 6, 78);
    display: inline-block;
}

.comment-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color:rgb(50, 6, 78);
    border-color: #9e0671;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    width:100%;
}

.comment-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.comment-styling:focus{
    outline: none;
}

.send-button{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:white;
    border-style: solid;
    border-width: 3px;
    border-color: #9e0671;
    background-color:#9e0671;
    width: 160px;
    height: 38px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.send-button:hover{
    color: #9e0671;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #9e0671;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.no-review-member{
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 310px;
}

.comment-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: transparent;
    padding: 10px;
}

.rating-input{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color:rgb(50, 6, 78);
    border-color: #9e0671;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    width:50px;

}