.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
}

.sign-up-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-width: 7px;
    border-style: solid;
    border-color: #32064e;
    width: 900px;
    height: 821px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.personal-details{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 150px;
}

.content-container{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 149px;
    row-gap: 17px;
}

.divider{
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #32064e;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    
}

.form-title{
    margin-top:30px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #32064e;
}

.input-styling{
    width: 500px;
    height: 39px;
    border-color: #32064e;
    border-radius: 10px;
    border-style: solid;
}

.text-input{
    width: 500px;
    height: 350px;
    border-color: #32064e;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}
.label-styling{
    display: block;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #32064e;
}

.sign-up-title{
    position: absolute;
    top:80px;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #32064e;
}

.button-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    gap: 30px;
}

.button-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:white;
    background-color: #9e0671;
    border: none;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.button-styling:hover{
    color: #9e0671;
    background-color:white;
    border-style: solid;
    border-width: 3px;
    border-color: #9e0671;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.button-styling:focus{
    outline: none;
}

.cancel-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:#9e0671;
    background-color: white;
    border-color: #9e0671;
    border-width: 3px;
    border-style: solid;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.button-styling:focus{
    outline: none;
}




@media (max-width:900px) {
    .sign-up-container{
        background-color: transparent;
        border-width: 0px;
        border-style: none;
        border-color:none;
        width: 100%;
        height: 800px;
        border-radius: 0px;
        box-shadow:none;
    }
    
    .main-container{
        height: 100%;
    }
    .input-styling{
        width: 100%;
    }
}

@media(max-width:768px){
    .sign-up-container{
        background-color: transparent;
        border-width: 0px;
        border-style: none;
        border-color:none;
        width: 100%;
        height:800px;
        border-radius: 0px;
        box-shadow:none;
        margin-bottom: 56px;
    }
    .content-container{
        column-gap: 50px;
        row-gap: 10px;
    }
    

}

@media(max-width:500px){
    .sign-up-container{
        background-color: transparent;
        border-width: 0px;
        border-style: none;
        border-color:none;
        width: 100%;
        height:1000px;
        border-radius: 0px;
        box-shadow:none;
        margin-bottom: 70px;
    }

    .content-container{
        grid-template-columns: 1fr;
    }
    .input-styling{
        column-gap: 0px;
        width: 100%;
        display: block;
    }  
}
/*body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: block;
}
.box {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
}
h1 {
    text-align: center;
}
form {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    font-weight: bold;
}
.input-group {
    width: 100%;
}
input[type="text"],
textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
}
textarea {
    height: 150px;
    resize: vertical;
}
.btn-container {
    text-align: center;
}
.btn {
    padding: 10px 20px;
    background-color: #32064e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.btn.cancel {
    background-color: #dc3545;
}
*/