body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Merriweather Sans", sans-serif;
}
.box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    border-width: 7px;
    border-style: solid;
    border-color: #32064e;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.inquiry {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color:#32064e;
}
.inquiry .details {
    margin-bottom: 10px;
    font-family: "Merriweather Sans", sans-serif;
}
.inquiry .actions {
    text-align: right;
}
.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #32064e;
    color: #fff;
    cursor: pointer;
}
.add-inquiry-btn {
    text-align: center;
    margin-top: 20px;
}

.sign-up-title{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #32064e;
}

.label-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-top: 10px;
}

.value-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.button-styling{
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color:white;
    background-color: #9e0671;
    border: none;
    width: 137px;
    height: 38px;
    border-radius: 5px;
    transition: color 0.5s, background-color 0.5s;
}

.button-styling:hover{
    color: #9e0671;
    background-color:white;
    border-style: solid;
    border-width: 3px;
    border-color: #9e0671;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.button-styling:focus{
    outline: none;
}